.translatable-field {
  display: flex;
  flex-direction: column;
}
.translatable-field .locale-tabs {
  margin-top: 16px;
}
.translatable-field > .select-none {
  position: absolute;
  right: 2%;
}

.nova-nested-form-header,
form > div > div > div > div,
form > div > div > div {
  width: 100%;
}

.nova-nested-form-header {
  padding: 0.5rem 2rem;
}

.nova-nested-form-header {
  border-bottom: 2px solid white;
}

.nova-nested-form-with-content > .card:last-child .nova-nested-form-header {
  border-bottom: none;
}

.nova-nested-form-with-content > .card:nth-child(1) {
  border-radius: 0.5rem 0.5rem 0 0;
}

.ap-dropdown-menu {
  z-index: 9999 !important;
}

.border-b {
  border-bottom-width: 0 !important;
}
